// paper & background
$paper: #ffffff;

// primary
$primaryLight: #eef2f6;
$primaryMain: #2196f3;
$primaryDark: #1e88e5;
$primary200: #90caf9;
//$primary800: #1565c0;

// secondary
$secondaryLight: #ede7f6;
$secondaryMain: #673ab7;
$secondaryDark: #5e35b1;
// $secondary200: #b39ddb;
$secondary800: #4527a0;

// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #d84315;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #f8fafc;
$grey100: #eef2f6;
$grey200: #e3e8ef;
$grey300: #cdd5df;
$grey500: #697586;
$grey600: #4b5565;
$grey700: #364152;
$grey900: #121926;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #1a223f; // level 3
$darkPaper: #111936; // level 4

// dark 800 & 900
$darkLevel1: #29314f; // level 1
$darkLevel2: #212946; // level 2

// primary dark
$darkPrimaryLight: #eef2f6;
$darkPrimaryMain: #2196f3;
$darkPrimaryDark: #1e88e5;
$darkPrimary200: #90caf9;
$darkPrimary800: #1565c0;

// secondary dark
$darkSecondaryLight: #d1c4e9;
$darkSecondaryMain: #7c4dff;
$darkSecondaryDark: #651fff;
$darkSecondary200: #b39ddb;
$darkSecondary800: #6200ea;

// text variants
$darkTextTitle: #d7dcec;
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;

// AIVue color theme
$primary800: #1a2793;
$primary700: #2a3bb7;
$primary600: #3d53db;
$primary500: #546fff;
$primary400: #7e95ff;
$primary300: #98abff;
$primary200: #bac8ff;
$primary100: #dce4ff;

// AIVue background
$greyBackground: #f5f5f7;

// AIVue secondary
$secondary500: #141522;
$secondary400: #54577a;
$secondary300: #8e92bc;
$secondary200: #c2c6e8;
$secondary100: #dfe1f3;

// AIVue selected/disabled
$greyDisabled: #f5f5f7;

// AIVue error
$error100: #ffe7d3;
$error600: #db2719;

// AIVue warning
$warning100: #fff8d7;
$warning600: #dba32a;

// AIVue interview status
$success100: #def8ee;
$success600: #4aa785;

$expired100: rgba(0, 0, 0, 0.05);
$expired600: rgba(0, 0, 0, 0.4);

$onhold600: #ffc555;
$onhold100: #fffbd4;

$sent100: #bae5ff;
$sent600: #54a6ff;

// ==============================|| JAVASCRIPT ||============================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;

    // ==============================|| DARK THEME VARIANTS ||============================== //

    // paper & background
    darkPaper: $darkPaper;
    darkBackground: $darkBackground;

    // dark 800 & 900
    darkLevel1: $darkLevel1;
    darkLevel2: $darkLevel2;

    // text variants
    darkTextTitle: $darkTextTitle;
    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;

    // primary dark
    darkPrimaryLight: $darkPrimaryLight;
    darkPrimaryMain: $darkPrimaryMain;
    darkPrimaryDark: $darkPrimaryDark;
    darkPrimary200: $darkPrimary200;
    darkPrimary800: $darkPrimary800;

    // secondary dark
    darkSecondaryLight: $darkSecondaryLight;
    darkSecondaryMain: $darkSecondaryMain;
    darkSecondaryDark: $darkSecondaryDark;
    darkSecondary200: $darkSecondary200;
    darkSecondary800: $darkSecondary800;

    // AIVue
    primary800: $primary800;
    primary700: $primary700;
    primary600: $primary600;
    primary500: $primary500;
    primary400: $primary400;
    primary300: $primary300;
    primary200: $primary200;
    primary100: $primary100;

    secondary500: $secondary500;
    secondary400: $secondary400;
    secondary300: $secondary300;
    secondary200: $secondary200;
    secondary100: $secondary100;

    greyBackground: $greyBackground;
    greyDisabled: $greyDisabled;

    error100: $error100;
    error600: $error600;

    warning100: $warning100;
    warning600: $warning600;

    success100: $success100;
    success600: $success600;

    expired100: $expired100;
    expired600: $expired600;

    onhold600: $onhold600;
    onhold100: $onhold100;

    sent100: $sent100;
    sent600: $sent600;
}
